* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App{
  /* background-color: #f3f3f3; */
}
.dropdown-toggle::after { 
  content: none; 
} 

.pad-10{
  padding: 10%;
}

.secondSection{
  margin-top: 10%;
}

.thirdSection{
  margin-top: 20%;
}

.fourthSection{
  margin-top: 15%;
  background-color: #008031;
}

.fifthSection{
  margin-top: 10%;
}